@import '../../styles/base'


core-toolbar
  background primary-500
  color white-text
  &.tall
    background transparent

core-scroll-header-panel::shadow #condensedHeaderBg
  background-color primary-500
